<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Home</title>
</head>
<body>
   <div class="container">
    <div class="row m-5">
        <div class="col-4"></div>
        <div class="col-4">
            <form action="">
                {%csrf_token%}
                <h1 class="m-5 pb-5">HOME PAGE</h1>
                <h3>Welcome {{request.user}}</h4>
                <h4>Your Id is :{{request.user.emp_id}}</h4>
                <h4>Your Email is :{{request.user.email}}</h4>
                <h4>Your Designation is :{{request.user.designation}}</h4>
                <h4>Your Mobile Number is :{{request.user.phone}}</h4> <br><br>
                <a href="{%url 'signout'%}" class="m-5  btn btn-outline-danger fs-3">signout</a>
            </form>
        </div>
        <div class="col-4"></div>
    </div>
   </div> 
</body>
</html>